.carousel-root {
  margin-bottom: 2.5rem;
}

.content-row {
  margin: 5rem 0;
}

.content-row img {
  width: 100%;
}

.content-row:nth-child(odd) img {
  order: 2;
}

@media screen and (min-width: 768px) {
  .content-row img,
  .content-row .content-wrapper {
    width: 50%;
    padding: 0.5rem;
  }

  .content-row {
    align-items: center;
    display: flex;
  }
}
